@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

body {
    background-color: #e3f2f2;
    color: black;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

img {
    display: block;
}

p {
    font-size: .9rem;
}

.container {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

.container section {
    width: 33%;
    padding: 2rem 1rem;
}

/* SEC 01 */

/* PRESENTATION */

.sec1 section.presentation {
    padding-top: 3rem;
}

.black_blue {
    color: #0cc0df;
    background-color: black;
    padding: .2rem;
    margin-bottom: 1.5rem;
}

.presentation img {
    width: 75%;
    margin: auto;
    margin-bottom: 1.5rem;
}

/* MID */
.mid img {
    width: 60%;
    margin: auto;
}

.blue h2 {
    background-color: #0cc0df;
    padding: .2rem;
    margin-bottom: .5rem;
}

.orange h2 {
    background-color: #ea9423;
    padding: .2rem;
    margin-bottom: .5rem;
}

.blue, .orange {
    margin-bottom: 1rem;
}

/* END */

.card_with_image .card_info {
    display: flex;
}
.card_with_image img {
    width: 20%;
    transform: scaleX(-1);
}

/* SEC 2 */

.blue_black {
    margin-top: 3rem;
    background-color: #0cc0df;
    color: black;
    padding: .2rem;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.info {
    margin-bottom: 1rem;
}

.info h2 {
    color: #ea9423;
    margin-bottom: 1rem;
}

ul {
    padding-left: 2rem;
}

.mid .info {
    padding-top: 3rem;
}

.sec2 .end .orange {
    margin-top: 3rem;
}

.sec2 .end img {
    width: 70%;
    margin: auto;
    margin-top: 1.5rem;
}