@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

body {
    background-color: #F8FAFC;
    color: black;
}

/* Centraliza o conteúdo principal com largura máxima */
main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 2rem;
}

/* === Header === */
header {
    background-image: linear-gradient(to right, #6CD4FF, #B9E8FB);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 2rem 4rem;
    position: relative;
    overflow: visible; 
    z-index: 1;
    height: 200px;
}

.header-content {
    max-width: 70%;
    position: relative;
}

h2 {
    font-size: 25px;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 800;
}

.header-content p {
    font-size: 18px;
    line-height: 1.6;
}

.header-globe {
    width: 220px;
    filter: drop-shadow(0px 4px 10px rgba(0,0,0,0.2));
    position: absolute; 
    right: 0;
}

/* === Seção Cards Iniciais === */
.card_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    position: relative;
}

#ip_address {
    position: absolute;
    top: -20px;
    left: 45%;
    width: 80px;
    transform: translateX(-50%);
}

#people-icon {
    position: absolute;
    bottom: 0;
    right: 30%;
    width: 100px;
    /* transform: translateY(-50%); */
}

.card_section .card {
    border-radius: 12px;
    padding: 1.5rem;
    border: 2px solid black;
    box-shadow: 4px 4px 0px #000;
}

.first_card {
    background-color: #B9E8FB;
    width: 400px;
    position: relative;
}

.first_card .card-header {
    background-color: #F1E900;
    border: 2px solid black;
    border-radius: 8px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: .5rem;
    text-align: center;
    font-weight: 700;
}

.first_card ul {
    list-style-position: inside;
    font-weight: 500;
}

.first_card li {
    margin-bottom: 0.5rem;
}

.center {
    width: 500px !important;
    text-align: center;
    background-color: #F5D837;
    margin-top: 3rem;
}

.center p strong{
    font-size: 30px;
}

.last_card {
    background-color: #FFA30F;
    text-align: center;
    width: 400px;
    font-weight: 700;
    margin-top: 8rem;
}

/* === Seção Éticas em Debate === */
.eticas {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.building-icon {
    width: 250px;
}

.eticas-info .top {
    background-color: #E155EE;
    font-weight: bold;
    width: fit-content;
    padding: .6rem 1rem;
    border-radius: 8px;
    border: 2px solid black;
    margin-bottom: 1rem;
}

.eticas-info .text_body {
    background-color: #B8F6D2;
    padding: 1rem;
    font-weight: 500;
    border-radius: 8px;
    border: 2px solid black;
    line-height: 1.8;
}

/* === Seção Casos Reais === */
.real_cases {
    margin-top: 1rem;
}

.real_cases h2 {
    background-color: #6CD4FF;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 8px;
    padding: .6rem 1rem;
    width: fit-content;
    margin-bottom: 1rem;
}

.real_cases .examples {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.example-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-card img {
    display: block;
    width: 100%;
    height: 280px;
    width: 280px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 12px;
}

.example-card p {
    text-align: center;
    background-color: #F5D837;
    border: 2px solid black;
    padding: .2rem 0rem;
    border-radius: 8px;
    font-weight: bold;
    margin-top: .5rem;
    width: 100%;
}

/* === Seção Tipos de Vieses === */
.bias {
    display: flex;
    padding: 3rem 1rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.bias .pl {
    text-align: center;
}

.bias .pl img {
    width: 280px;
    margin-bottom: 1rem;
}

.bias .pl ul {
    list-style-type: none;
    font-weight: 600;
}

.diagram-container {
    text-align: center;
}

.diagram-title {
    background-color: #f39c12; 
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 1rem; 
    font-weight: bold;
    border: 2px solid black;
    padding: .6rem 1rem;
}

.diagram-columns {
    display: flex; 
    justify-content: center;
    gap: 20px;
}

.diagram-column {
    display: flex;
    flex-direction: column; 
    gap: 15px;
}

.diagram-box {
    background-image: linear-gradient(90deg, #B9E8FB, #86D7F9);
    border: 2px solid black;
    padding: .6rem 1rem;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    font-weight: 600;
}

/* === Seção Abordagens Globais === */
.globals {
    position: relative;
    display: flex;
    align-items: center;
}

.globals-globe {
    width: 200px;
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 2rem;
}

.globals .info {
    padding: 1rem;
    margin-left: 10rem;
    border-radius: 12px;
    background-image: linear-gradient(90deg, #B9E8FB, #86D7F9);
    border: 2px solid black;
    width: 100%;
}

.globals .info .title {
    margin-bottom: 1rem;
    font-weight: bold;
}

.globals .line {
    margin-bottom: .5rem;
    font-weight: 500;
}
.globals .line .fi {
    margin-right: 0.5rem;
}

/* === Footer / Princípios === */
.principios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.2rem;
    gap: 2rem;
}

.principios h2 {
    margin-bottom: 1.5rem;
}

.principios .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 800px;
    margin-bottom: 2rem;
}

.principio-card {
    background-color: #E2E8F0;
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.principio-card img {
    width: 24px;
    height: 24px;
}

.principios .final-phrase {
    font-weight: 600;
    margin-top: 1rem;
}

.principios .balance {
    width: 200px;
    align-self: flex-end;
}